.page main div.title h1{
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.page main div.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.25rem;
    row-gap: 1.25rem;
    width: 100%;
    margin: 10px;
}

.page main div.grid .recipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 260px;
    width: 200px;
    position: relative;
    background-color:#e8914a;
    border-radius: 4px;
    box-shadow: 5px 5px 20px black;
    box-sizing: border-box;
    transition: 0.3s;
    
}

.page main div.grid .recipe img{
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    transition: 0.8s ease;
    object-fit: cover;
}

.page main div.grid .recipe .info h3{
    position: absolute;
    bottom: 35px;
    left: 5px;
    margin: 2px;
    top: 210px;  
    color: white;
    transition: 0.3s ease-in;
}

.page main div.grid .recipe .info{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s;
}

.page main div.grid .recipe .info p{
    position: absolute;
    opacity: 0;
    color: white;
    bottom: -100px;
    left: 0;
    padding: 10px;
    transition: 0.3s ease-in;
}

.page main div.grid .recipe .info .btn{
    opacity: 0;
    bottom: -20px;
    width: 80%;
    height: 30px;
    left: 10%;
    position: absolute;
    text-decoration: none;
    border: 0px solid;
    color: #000000;
    background-color: #ffffffa1;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    pad: 0.5rem 1rem;
    transition: 0.3s ease-in;
}

.page main div.grid .recipe:hover img{
    filter: blur(1px);
    transform: scale(1.2) rotate(10deg);
    height: 260px;
    width: 250px;
    cursor: pointer;
}

.page main div.grid .recipe:hover .info h3{
    top: 80px;
}

.page main div.grid .recipe:hover .info p{
    opacity: 1;
    bottom: 60px;
}

.page main div.grid .recipe:hover .info{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.page main div.grid .recipe:hover .info .btn{
    opacity: 1;
    bottom: 20px;
}

@media screen and (max-width: 700px) {
    .page main div.grid{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 1.25rem;
        align-items: center;
    }
}





