<!DOCTYPE html>
{% extends "index.html" %}
{%load static%}
{%block additionalLinks%}
    <link rel="stylesheet" href="{%static "css/about.css"%}">
{%endblock%}
    {%block main%}
        <div class="aboutMain">
            <!-- <a href="https://github.com" target="_blank" class="icon-link">
                <i class="fab fa-github"></i> Visit GitHub
            </a> -->
            <div class="people" id="title-info">
                <div class="title">
                    <h1>WHO ARE WE?</h1>
                </div>
                <div class="info">
                    We are students in second level at FCAI-CU (Faculty of Computers & Artificial Intelligence-Cairo University)
                    <br>We developed this Website using HTML, CSS, Javascript, Django(Framework)
            </div>
            <div class="people">
                <div class="infoPeople">
                    <div id="daniel" class="individual">
                        <img src="{%static "photos/Daniel.jpg"%}" alt="Daniel" class="profile">
                        <div class="infoBack">
                            <h5>Daniel Sameh</h5>
                            <div class="socials">
                                <div class="linkedIn"><a href="https://www.linkedin.com/in/daniel-sameh-4b0017263/" target="_blank">
                                    <i class="fa fa-linkedin-square"></i>
                                </a></div>
                                <div class="github">
                                    <a href="https://github.com/Daniel-Sameh" target="_blank">
                                        <i class="fab fa-github"></i>
                                        
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="infoPeople">
                    <div id="youssef" class="individual">
                        <img src="{%static "photos/Youka.png"%}" alt="Youssef" class="profile">
                        <div class="infoBack">
                            <h5>Youssef Ehab</h5>
                            <div class="socials">
                                <div class="linkedIn"><a href="https://eg.linkedin.com/in/youssef-ehab-9a098a2a6" target="_blank">
                                    <i class="fa fa-linkedin-square"></i>
                                    
                                </a></div>
                                <div class="github">
                                    <a href="https://github.com/Youkabob" target="_blank">
                                        <i class="fab fa-github"></i>
                                       
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="infoPeople">
                    <div id="michael" class="individual">
                        <img src="{%static "photos/Michael.jpg"%}" alt="Michael" class="profile">
                        <div class="infoBack">
                            <h5>Michael Reda</h5>
                            <div class="socials">
                                <div class="linkedIn"><a href="https://www.linkedin.com/in/michael-reda-300091226/" target="_blank">
                                    <i class="fa fa-linkedin-square"></i>
                                    
                                </a></div>
                                <div class="github">
                                    <a href="https://github.com/Michael-R-Moussa" target="_blank">
                                        <i class="fab fa-github"></i>
                                        
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="infoPeople">
                    <div id="marcelino" class="individual">
                        <img src="{%static "photos/marcelino.png"%}" alt="Marcelino" class="profile">
                        <div class="infoBack">
                            <h5>Marcelino Maximos</h5>
                            <div class="socials">
                                <div class="linkedIn"><a href="https://www.linkedin.com/in/marcelino-ebied-7ab3b62ab/" target="_blank">
                                    <i class="fa fa-linkedin-square"></i>
                                    
                                </a></div>
                                <div class="github">
                                    <a href="https://github.com/Marcelino-10" target="_blank">
                                        <i class="fab fa-github"></i>
                                        
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="infoPeople">
                    <div id="Abanob" class="individual">
                        <img src="{%static "photos/Abanoub.png"%}" alt="Abanoub" class="profile">
                        <div class="infoBack">
                            <h5>Abanob Essam</h5>
                            <div class="socials">
                                <div class="linkedIn"><a href="https://www.linkedin.com/in/abanob-essam-a435aa2aa/" target="_blank">
                                    <i class="fa fa-linkedin-square"></i>
                                
                                </a></div>
                                <div class="github">
                                    <a href="https://github.com/AbanobEssam19" target="_blank">
                                        <i class="fab fa-github"></i>
                
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="infoPeople">
                    <div id="mariem" class="individual">
                        <img src="{%static "photos/mariam ayman.jpg"%}" alt="Mariam" class="profile">
                        <div class="infoBack">
                            <h5>Mariam Ayman</h5>
                            <div class="socials">
                                <div class="linkedIn"><a href="http://www.linkedin.com/in/mariam-ayman-397776249" target="_blank">
                                    <i class="fa fa-linkedin-square"></i>
                                   
                                </a></div>
                                <div class="github">
                                    <a href="https://github.com/mariam511" target="_blank">
                                        <i class="fab fa-github"></i>
                    
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {%endblock%}
    {% block scripts%}
        <script src="{% static "js/main.js"%}"></script>
        <script src="{% static "js/technicalButtons.js"%}"></script>
    {%endblock%}


