<!DOCTYPE html>
{% extends "index.html"%}
{% load static %}
{% block additionalLinks%}
        <link rel="stylesheet" href="{% static "css/cards.css"%}">
        <title>{{category|capfirst}}</title>
    {%endblock%}
        {% block main%}
            <div class="title">
                <h1>{{category|capfirst}} Recipes</h1>
            </div>
            <div class="grid" id="{{category}}Grid">
                {%for x in recipes %}
                        <div>{{x}}</div>
                {% endfor%}
            </div>
            <br>
        {%endblock%}

{%block scripts%}       
    <script src="../../js/main.js"></script>
    <script src="../../js/summer.js"></script>
    <script src="../../js/technicalButtons.js"></script>
{% endblock %}