<!DOCTYPE html>
{% extends "index.html"%}
{% load static%}
{%block additionalLinks%}
    <title>Edit Acoount</title>
    <link rel="stylesheet" href="{%static 'css/edit acc.css'%}">
{%endblock%}
{%block main%}
    <div class="page editAccPage">
        <main>
            <div class="photo">
                <img class="side" id="side1" src="{% static 'Photos/test.jpg' %}" alt="side photo">

            </div>
            <div class="form">
                <form action="" method="" id="editAcc">
                    <div class="editPhoto ">
                        <div class="photo1">
                            <img class="ph1" src="" alt="Account Photo" id="ph1"></image>
                        </div>
                        <div class="choosephoto">
                            <label id="lab" for="myfile">change photo</label>
                            <input type="file" id="myfile" name="myfile" accept="image/*">
                        </div>
                        &nbsp;

                    </div>
                    &nbsp;
                    <label for="name">Username:</label>
                    <div id="name" class="editName">
                        <input id="inName" type="text" placeholder="Enter full name" required>
                    </div>
                    &nbsp;
                    <label for="mail">Email:</label>
                    <div id="emil" class="editMail">
                        <input id="inEmil" type="Email" name="Email" id="" required placeholder="Enter email">
                    </div>
                    &nbsp;
                    <label for="oldPass">old Password:</label>
                    <div id="oldPass" class="oldPass">
                        <input id="inOldPass" type="password" placeholder="Enter old password" required>
                    </div>
                    <p id="checksOldPass"></p>
                    &nbsp;
                    <label for="edpass">New Password:</label>
                    <div id="edpass" class="editPass">
                        <input id="inEdPass" type="password" placeholder="Enter new password" >
                    </div>
                    <p id="checksPass"></p>
                    &nbsp;
                    <label for="conFpass">Confirm Password:</label>
                    <div id="confPass" class="confirmEditedPass">
                        <input id="inConfPass" type="password" placeholder="Confirm Password" >
                    </div>
                    <p id="checks"></p>
                    &nbsp;

                    <div id="sub" class="submitChanges">
                        <input class="save" id="save" type="submit" value="Save Changes">
                    </div>
                </form>
            </div>

        </main>
    </div>
{%endblock main%}
{%block scripts%}
    {% comment %} <script src="{%static 'js/main.js'%}"></script> {% endcomment %}
    {% comment %} <script src="{%static 'js/editAcc.js'%}"></script> {% endcomment %}
    {% comment %} <script src="{%static 'js/technicalButtons.js'%}"></script> {% endcomment %}
{%endblock%}   