<!DOCTYPE html>
{% extends "index.html"%}
{% load static %}
{% block additionalLinks%}
<title>Help</title>
{%endblock%}
{% block main%}
    <div class="page helpPage">
            <h1>FAQ</h1>
            <div>
                <h2>Question1</h2>
                <p>Answer1</p>
            </div>
            <div>
                <h2>Question2</h2>
                <p>Answer2</p>
            </div>
            <div>
                <h2>Question3</h2>
                <p>Answer3</p>
            </div>
            <div>
                <h2>Question4</h2>
                <p>Answer4</p>
            </div>
            <div>
                <h2>Question5</h2>
                <p>Answer5</p>
            </div>
            <div>
                <h2>Question6</h2>
                <p>Answer6</p>
            </div>
    </div>
{%endblock%}

{%block scripts%}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{%static 'js/technicalButtons.js'%}"></script>
{% endblock %}