{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'Photos/yaLaziz.png' %}">

    <!--CSS-->
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Courgette&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    {% block additionalLinks%}
    <title>Recipe Website</title>
    <link rel="stylesheet" href="{% static 'css/cards.css'%}">
    {%endblock%}
</head>

<body>
    <div class="page mainPage">
        <nav>
            <div class="nav container">
                <div class="navBegin">
                    <div class="icon"><a href="/" id="indexHref"><img src="{% static 'Photos/yaLaziz.png' %}"
                                alt="Recipe" height="150px" title="Recipe" class="logo">YaLaziz</a></div>
                    <div class="navToggle" id="navToggle">
                        <p class="ri-menu-line navShow">&#9776;</p>
                        <p class="ri-close-line navClose">&#10006;</p>
                    </div>
                </div>
                <div class="links" id="links">
                    <ul class="mainNav">
                        <li class="recipes">
                            <a href="/recipes" class="navLink">Recipes</a>
                        </li>
                        <li class="categories">
                            <div class="navLink">Categories <div class="arrow">&#11167;</div>
                            </div>
                            <ul class="dropdownMenu">
                                <li><a href="/breakfast" class="dropdownLink">Breakfast</a></li>
                                <li><a href="/lunch" class="dropdownLink">Lunch</a></li>
                                <li><a href="/dinner" class="dropdownLink">Dinner</a></li>
                                <li><a href="/desserts" class="dropdownLink">Desserts</a></li>
                                <li><a href="/drinks" class="dropdownLink">Drinks</a></li>
                            </ul>
                        </li>
                        <li class="seasonal">
                            <div class="navLink">Seasonal <div class="arrow">&#11167;</div>
                            </div>
                            <ul class="dropdownMenu">
                                <li><a href="/ramadan" class="dropdownLink">Ramadan</a></li>
                                <li><a href="/christmas" class="dropdownLink">Christmas</a></li>
                                <li><a href="/summer" class="dropdownLink">Summer</a></li>
                            </ul>
                        </li>
                        <li class="addRecipe"><a href="/add_recipe" class="navLink" id="addRecipeHref">Add Recipe</a>
                        </li>
                        <li class="about"><a href="/about" class="navLink">About Us</a></li>
                        <li id="searchItem">
                            <form method="get" action="{% url 'search' %}" id="searchForm">
                                <input type="text" name="q" placeholder="Search for recipes..." value="{{ request.GET.q|default:'' }}">
                                <button type="submit">&#128269;</button>
                            </form>
                            {% comment %} <input type="text" placeholder="search" onkeyup="search()" id="searchForm">
                            <button type="submit" id="searchBtn" onclick="search()">&#128269;</button> {% endcomment %}
                        </li>
                        {% if user.is_authenticated %}
                        <li class="account"><a href="/myaccount" class="navLink">{{user.username}}</a></li>
                        {% else %}
                        <li class="account"><a class="navLink">Account</a></li>
                        {% endif %}
                        
                        <li class="login"><button><a href="/login" class="navLink">Login</a></button></li>
                        <li class="sign_up"><button><a href="/signup" class="navLink">Sign Up</a></button></li>
                        <li class="logout"><button><a  class="navLink">Log Out</a></button></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <aside></aside>
        <main>
            {% block main %}
            <div class="yaLaziz">
                <div class="welcome">
                    <div class="welcomeTxt">
                        <h1 class="yaLazizName">YaLaziz</h1>
                        <h4 class="slogan">Cook With Love</h4>
                    </div>
                </div>
            </div>
            <div class="firstTitle">
                <h1>&#127869; Delve into the latest recipe trends</h1>
                <div class="underline"></div>
            </div>
            <div class="grid">
                {%for recipe in trending %}
                <div class="recipe" id={{recipe.id}}>
                    <div class="edit">
                        <img src="{% static 'Photos/editButton.png'%}" alt="" class="editRecipe" title="Edit Recipe">
                        <img src="{% static 'Photos/deleteButton.png'%}" alt="" class="deleteRecipe" title="Delete Recipe">
                    </div>
                    {% if recipe.id in Favorites %}
                        <img src="{% static 'Photos/heartRed.png'%}" alt="" title="remove from favorites" class="favorite_button">
                    {% else %}
                        <img src="{% static 'Photos/heartWhite.png'%}" alt="" title="add to favorites" class="favorite_button">
                    {% endif %}
                    <img src={{recipe.coverPhoto.url}} alt="{{recipe.name}}" class="coverImg">
                    <div class="info">
                        <h3>{{recipe.name}}</h3>
                        <h5>&#x23F0; {{recipe.duration}}</h5>
                        <p>The {{recipe.name}} recipe</p>
                        <a href="/recipe_detail/{{recipe.id}}"><button class="btn" id="recipeLinkMain">view recipe</button></a>
                    </div>
                </div>
                {% endfor%}
            </div>
            <div class="splitContainer">
                <div class="Scontainer">
                    <!-- <img src="../Photos/pexels-klaus-nielsen-6287301.jpg" alt="" id="splitImg"> -->
                    <h2 id="hSplit">Savoring the Symphony of Flavors</h2>
                    <p id="txt">Indulge in the culinary journey of a lifetime as you explore the art of cooking,
                        where every ingredient dances harmoniously to create masterpieces that tantalize the taste buds
                        and nourish the soul.</p>
                    <p id="dan"><i>-Daniel Sameh-</i></p>
                </div>
            </div>
            <div class="discover">
                <div class="new">
                    <!-- <div class="temp"></div> -->
                    <div class="title">
                        <h1>&#10003; Discover our newest added Recipes:</h1>
                    </div>
                </div>
                <div class="newRecipe">
                    <div class="grid">
                        {%for recipe in newRecipes %}
                        <div class="recipe" id={{recipe.id}}>
                            <div class="edit">
                                <img src="{% static 'Photos/editButton.png'%}" alt="" class="editRecipe" title="Edit Recipe">
                                <img src="{% static 'Photos/deleteButton.png'%}" alt="" class="deleteRecipe" title="Delete Recipe">
                            </div>
                            {% if recipe.id in Favorites %}
                                <img src="{% static 'Photos/heartRed.png'%}" alt="" title="remove from favorites" class="favorite_button">
                            {% else %}
                                <img src="{% static 'Photos/heartWhite.png'%}" alt="" title="add to favorites" class="favorite_button">
                            {% endif %}
                            <img src={{recipe.coverPhoto.url}} alt="{{recipe.name}}" class="coverImg">
                            <div class="info">
                                <h3>{{recipe.name}}</h3>
                                <h5>&#x23F0; {{recipe.duration}}</h5>
                                <p>The {{recipe.name}} recipe</p>
                                <a href="/recipe_detail/{{recipe.id}}"><button class="btn" id="recipeLinkMain">view recipe</button></a>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>

            <div class="splitContainer1">
                <div class="Scontainer1">
                    <!-- <img src="../Photos/pexels-klaus-nielsen-6287301.jpg" alt="" id="splitImg"> -->
                    <h2 id="hSplit1">Flavorful Creations: Crafting Delicious Meals</h2>
                    <p id="txt1">Cooking is like a puzzle of flavors, where each ingredient adds something special to
                        the final dish.
                        From fresh veggies to tasty herbs, everything mixes together to make food that's exciting to
                        eat.
                        Making a meal is like telling a story with different tastes and smells. Whether it's a simple
                        soup or a fancy dinner,
                        every dish shows off the cook's skills and love for cooking. As pots bubble and pans sizzle, the
                        kitchen becomes a
                        place where amazing meals come to life. In this world of cooking fun, ingredients aren't just
                        ingredients—they're the stars that make every dish memorable.</p>
                </div>
            </div>
            {% endblock %}
        </main>
        <footer>
            <a href="/"><img src="{% static 'Photos/yaLaziz.png' %}" alt="Recipe" height="250px" title="Recipe"
                    class="logo"></a>
            <h4>The Recipe Website!</h4>
            <div>
                <div>
                    <label for="prob"> Got a problem?</label>
                    <a id="prob" href="/help/report">Report a problem</a>
                </div>
                <div>
                    <label for="suggest"> Have a suggestion?</label>
                    <a id="suggest" href="mailto:danielsameh21@mail.com">Mail us</a>
                </div>
                <div>
                    <label for="help"> Need help?</label>
                    <a id="help" href="/help">Help</a>
                </div>
            </div>
            <div class="copyright">Copyright &#169; 2024</div>
        </footer>
    </div>

    <script>
        var isAdmin = {{ isAdmin|yesno:"true,false" }};
        var isSigned = {{ isSigned|yesno:"true,false" }};

        console.log('isAdmin:', isAdmin);
        console.log('isSigned:', isSigned);
        const userId = "{{ request.user.id }}";
        console.log('Authenticated User ID:', userId);
    </script>
    {%block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{%static 'js/technicalButtons.js'%}"></script>
    {%endblock%}
</body>

</html>