<!DOCTYPE html>
{% extends "index.html" %}
{%load static%}
{%block additionalLinks%}
    <title>yaLaziz Account</title>
    <link rel="stylesheet" href="{%static 'css/my acc.css'%}">
{%endblock%}
{%block main%}
    <div class="page myAccPage">
        <main>
            <div class="header">
                <div class="userPhoto">
                    <img id="ph" class="photo" src="{% static 'Photos/acc pic.png' %}" alt="Account Photo">
                </div>
                <div class="container">
                    <div class="userName">
                        <h3 class="user">User name</h3>
                    </div>
                    <a href="{% url 'editAcc' %}">
                        <button class="editButton">edit account</button>
                    </a>
                </div>
            </div>
            <section class="section">
                <div class="content">
                    <div class="add">
                        <h1 class="added">Your recipes</h1>
                        <div class="grid" id="userGrid">

                        </div>
                    </div>

                    <div class="favorite">
                        <h1 class="fav">Recipes you liked</h1>
                        <div class="grid" id="favoriteGrid"></div>
                    </div>
                </div>
            </section>

        </main>
    </div>


{%endblock main%}
{%block scripts %}
<script src="{% static 'js/main.js' %}"></script>
<!-- <script src="{% static 'js/acc.js' %}"></script> -->
<script src="{%static 'js/technicalButtons.js'%}"></script>
{%endblock%}
