<!DOCTYPE html>
{% extends "index.html"%}
{% load static %}
{% block additionalLinks%}
<link rel="stylesheet" href="{% static 'css/recipeDetail.css'%}">
<title>{{category|capfirst}}</title>
{%endblock%}
{% block main%}
<div class="recipeDetail" id="recipeDetail">
    <div class="detailContainer">
        <div class="recipeImg">
            <img src={{Recipe.mainPhoto.url}} alt="{{Recipe.name}} picture">
            <h1 id="recipe_title">The {{Recipe.name}} Recipe</h1>
            <h4 id="recipe_time">{{Recipe.duration}}</h4>
        </div>
    </div>
    <div class="recipeBody">
        <h2 id="ingredients">&#10149; Ingredients:</h2>
        <div id="ingredientsText">
            <ol id="ingredients-list">
            <!-- {%for ingredient in ingredients %}
            <li>
                {{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}} 
                <button class="Remove-button"><i class="fa-solid fa-trash"></i></button>
            </li>
            {% endfor%} -->
            </ol>
        </div>
        <h2 id="instructions">&#10149; Instructions:</h2>
        <div id="instructionsText">

        </div>
    </div>
</div>
{%endblock%}

{%block scripts%}
<script src="{% static 'js/main.js' %}"></script>
<!-- <script src="{% static 'js/viewRecipe.js' %}"></script> -->
<script src="{%static 'js/technicalButtons.js'%}"></script>
{% endblock %}