<!DOCTYPE html>
{% extends "index.html"%}
{% load static %}
{% block additionalLinks%}
<title>Report problem</title>
<link rel="stylesheet" href="{% static 'css/Report.css'%}">
{%endblock%}
{% block main%}
    <div class="report-container">
        <div class="report-box">
            <h1>Report a problem</h1>
            <div class="personal-info">
                <div class="inputs" >
                    <h2>personal info: </h2>
                    <input id="name" type="text" placeholder="Name" required>
                    <input id="email" type="email" placeholder="Email@mail.com" required>
                    <input id="sub" type="text" required placeholder="Subject">
                </div>
            </div>
            <div class="problem-info">
                <h2>Type your problem:</h2>
                    <textarea name="complaint" id="complaint" required cols="50" rows="15"></textarea>
            </div>
            <input type="submit">
        </div>
    </div>
{%endblock%}
{%block scripts%}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{%static 'js/technicalButtons.js'%}"></script>
{% endblock %}